#  *ABSOLUTE BEGINNER LEVEL*
# DICTIONARIES AND BOOLEANS

# 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE

In [10]:
friends = {
  "friend1" : {
    "name" : "Emil",
    "age" : 2004
  },
  "friend2" : {
    "name" : "Tobias",
    "age" : 2007
  },
  "friend3" : {
    "name" : "Linus",
    "age" : 2011
  }
}
print(friends["friend2"]["age"])

2007

# 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES

In [12]:
friends = {
  "friend1" : {
    "name" : "Emil",
    "salary" : 2004
  },
  "friend2" : {
    "name" : "Tobias",
    "salary" : 2007
  },
  "friend3" : {
    "name" : "Linus",
    "salary" : 2011
  }
}
average_salaray = (friends["friend1"]["salary"]+friends["friend2"]["salary"]+friends["friend2"]["salary"])/3
print(int(average_salaray))

2006

#  3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES

In [15]:
friends["friend4"]={"name":"kush",
                   "salary":2040}
friends["friend5"]={"name":"Abhi",
                   "salary":2040}

In [51]:
sum = 0 
for i in friends:
    sum += friends[i]["salary"]
average=sum/5
from pprint import pprint

pprint(friends)
pprint(average)

{'friend1': {'name': 'Emil', 'salary': 2004},
 'friend2': {'name': 'Tobias', 'salary': 2007},
 'friend3': {'name': 'Linus', 'salary': 2011},
 'friend4': {'name': 'kush', 'salary': 2040},
 'friend5': {'name': 'Abhi', 'salary': 2040}}
2020.4

# 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [26]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}
print(my_dict["data1"]*my_dict["data2"]*my_dict["data3"])

-1500000

# 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [49]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]


average_1 = (student_details[0]["midterm"]+student_details[0]["final"])/2
average_2 = (student_details[1]["midterm"]+student_details[1]["final"])/2
average_3 = (student_details[2]["midterm"]+student_details[2]["final"])/2


my_average = [{'student_id': 1, 'average' : average_1},
              {'student_id': 2, 'average' : average_2},
              {'student_id': 3, 'average' : average_3}
             ]

from pprint import pprint

pprint(my_average)

[{'average': 72.5, 'student_id': 1},
 {'average': 79.0, 'student_id': 2},
 {'average': 87.5, 'student_id': 3}]

# 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

In [52]:
student_details[0]["average"]= average_1
student_details[1]["average"]= average_2
student_details[2]["average"]= average_2
from pprint import pprint

pprint(student_details)

[{'average': 72.5,
  'final': 85,
  'midterm': 60,
  'student_id': 1,
  'subject': 'math'},
 {'average': 79.0,
  'final': 78,
  'midterm': 80,
  'student_id': 2,
  'subject': 'math'},
 {'average': 79.0,
  'final': 85,
  'midterm': 90,
  'student_id': 3,
  'subject': 'math'}]

# 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [59]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}
dictionary['C1'] = [ dictionary['C1'][0]**2 , dictionary['C1'][1]**2, dictionary['C1'][2]**2]
dictionary['C2'] = [ dictionary['C2'][0]**2 , dictionary['C2'][1]**2, dictionary['C2'][2]**2]

In [60]:

from pprint import pprint

pprint(dictionary)

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

#  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [62]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [64]:
name=list(my_salary.keys())
salary=list(my_salary.values())

In [65]:
totalsalaary = salary[0] +salary[1] +salary[2]

In [66]:
print(totalsalaary)

83

In [67]:
name

['alex', 'sally', 'dina']

In [68]:
salary

[25, 28, 30]

# 9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [70]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}
print(len(my_dict))

dictionary_items = my_dict.items()
sorted_items = sorted(dictionary_items)

print(sorted_items)

5
[('Joe', 10), ('Peter', 44), ('dina', 22), ('holy', 50), ('sally', 23)]

# 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED)

In [72]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}
result = dict((key, value) for key, value in my_dictionary.items() if value <= 30)
print(result)

{'Key 1': 20, 'Key 2': 30}

# 11. WHAT WILL THIS CODE GENERATE?

In [73]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True

# NOW YOU SHOULD BE FAMILIAR WITH DICTIONARIES, GREAT JOB!