# *ABSOLUTE BEGINNER LEVEL* 
#  SETS AND TUPLES

# 1. PRINT HELLO FOLLOWED BY THE NAMES AND THE AGE IN THE TUPLE

In [5]:
my_tuple = ("chanel", 26)

print(f"hellp  {my_tuple[0]}  {my_tuple[1]}")

hellp  chanel  26

# 2. DEFINE A TUPLE WITH 6 OF YOUR FAVOURITE FRIENDS, PRINT (1) ALL THE TUPLE, (2) LAST ELEMENT, (2) FIRST TWO ELEMENTS

In [7]:
my_tuple= ('chanel', 'mitch', 'sara', 'cynthia', 'diane', 'steeve')
my_tuple

('chanel', 'mitch', 'sara', 'cynthia', 'diane', 'steeve')

In [8]:
my_tuple[-1]

'steeve'

In [10]:
my_tuple[0:2]

('chanel', 'mitch')

#  3. DEFINE A TUPLE WITH YOUR FIRST NAME, LAST NAME AND AGE. FIND THE LENGTH AND THE TYPE AS WELL.

In [11]:
my_tuple=('Ryan', 'ahmed', 25)
my_tuple

('Ryan', 'ahmed', 25)

In [12]:
len(my_tuple)

3

In [13]:
type(my_tuple)

tuple

#  4. PRINT THE NUMBER "40", PRINT THE WORD "WORLD", PRINT THE NUMBER 25, AND PRINT THE ENTIRE LIST AND TUPLE LISTED BELOW

In [16]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

print(my_tuple[1][1])
print(my_tuple[2])
print(my_tuple[1])
print(my_tuple[3])

40
world
[87, 40, 60]
(10, 25, 30)

#  5.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [17]:
my_tuple = (40, 3, 2, [10, 4])

my_tuple[2]

2

In [19]:
my_tuple[3][0] = 9
print(my_tuple)

(40, 3, 2, [9, 4])

# 6.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [20]:
my_tuple = (40, 3, 2, [10, 4])
my_tuple[3]

[10, 4]

In [21]:
my_tuple
print(my_tuple)

(40, 3, 2, [10, 4])

#  7. CHECK IF THE NAME "PYTHON" EXISTS IN A TUPLE

In [29]:
my_tuple = ('math','science','science','python','english')
for i in my_tuple:
    check = False
    if "python" in i:
        check = True
    print(check)

False
False
False
True
False

#  8. REMOVE THE DUPLICATES FROM THE FOLLOWING LIST

In [42]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]
for i in range(0,len(my_list)-1):
    for k in range(i):
        if my_list[i] == my_list[k]:
            my_list.remove(my_list[i])
    
print(my_list)

[50, '2', 50, 4, 6, 9]

#  9. ADD YOUR NAME TO THE FOLLOWING SET AND CONVERT INTO A LIST

In [43]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

my_set.add("maitrik")

In [44]:
list(my_set)

['maitrik', 'sara', 'mike', 'jon']

#  10. RUN THIS CODE AND EXPLAIN WHAT IT DOES (WE WILL COVER IF CONDITIONS NEXT)

In [46]:
my_grocery = {"banana", "cherry"}

if ("orange" in my_grocery):
  print("Yes, I have got orange in my grocery list!")

In [47]:
my_grocery = {"orange", "banana", "cherry"}

if ("orange" in my_grocery):
  print("Yes, I have got orange in my grocery list!")

Yes, I have got orange in my grocery list!

# NOW YOU SHOULD BE FAMILIAR WITH SETS AND TUPLES, GREAT JOB!