#  *ABSOLUTE BEGINNER LEVEL*
#  LISTS

# 1. PRINT FIRST, SECOND AND LAST ELEMENT IN THE LIST 
Remember that the first element of the list has an index of 0

In [2]:
names = ["sara", "chanel", "mike", "ryan", "holy", "alex", "rob"]
print(f"{names[0]},{names[1]},{names[6]}")

sara,chanel,rob

#  2. PRINT (1) ALL ELEMENTS IN THE LIST, (2) "chanel" "mitch" "ryan", (3) FIRST THREE ELEMENTS, (4) LAST THREE ELEMENTS, (5) SKIP EACH OTHER ELEMENT

In [9]:
names = ["sara", "chanel", "mitch", "ryan", "holy", "alex", "rob"]
print(f"{names}")
print(f"{names[1:4]}")
print(f"{names[0:3]}")
print(f"{names[5:7]}")
print(f"{names[0:7:2]}")

['sara', 'chanel', 'mitch', 'ryan', 'holy', 'alex', 'rob']
['chanel', 'mitch', 'ryan']
['sara', 'chanel', 'mitch']
['alex', 'rob']
['sara', 'mitch', 'holy', 'rob']

#  3. PRINT (1) SALLY, (2) SARA, SALLY, JOE (3) ALY (WITH TWO DIFFERENT WAYS)

In [14]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]
print(my_list[1][1])

sally

In [21]:
print(my_list[1][0:3])

['sara', 'sally', 'joe']

In [22]:
print(my_list[3])

aly

In [23]:
print(my_list[-1])

aly

# 4. PRINT THE LENGTH OF THE LIST AND ADD YOUR NAME TO THE LIST (EXTERNAL RESEARCH) 

    - research the method: append()

In [19]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [20]:
print(len(my_list))

4

In [24]:
my_name= "maitrik"
my_list.append(my_name)

In [25]:
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', 'maitrik']

#  5. REMOVE "PETER" FROM THE LIST USING TWO DIFFERENT METHODS (EXTERNAL RESEARCH) 
    - remove()
    - del

In [26]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [28]:
new_list = my_list.remove("peter")

In [30]:
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'aly']

In [31]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [32]:
del my_list[2]

In [33]:
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'aly']

#  6. SORT ELEMENTS IN A LIST AND REVERSE ALL ELEMENTS TO GO FROM MAXIMUM TO MINIMUM 
    - sort()
    - reverse()

In [36]:
my_list = [50, 20, 30, 10, 40, 15, 45]

In [37]:
my_list.sort()
print(my_list)

[10, 15, 20, 30, 40, 45, 50]

#  7. CREATE A NEW LIST THAT CONTAINS THE LAST ELEMENTS IN THE NESTED LISTS

In [38]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],['peanuts','protein bar']]

In [43]:
new_grocery_list = []
new_grocery_list.append(grocery_list[0][2])
new_grocery_list.append(grocery_list[1][1])
new_grocery_list.append(grocery_list[2][1])
print(new_grocery_list)

['chocolate', 'potatoes', 'protein bar']

# 8. CREATE A LIST WITH 5 OF YOUR CLOSEST FRIENDS AND SORT THEM ALPHABETICALLY

In [45]:
Friends=["kush","mansi","dhruvika","soham","devansh"]

In [49]:
Friends.sort()
print(Friends)

['devansh', 'dhruvika', 'kush', 'mansi', 'soham']

# NOW YOU KNOW HOW LISTS WORK, KEEP IT UP!